<!DOCTYPE html>
<html>
<head>
  <title>Magnetic Twitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <% if current_user %>
      <h5 class='username'>@<%= current_user.name %></h5>
      <h5 class='signout'><%= link_to "Sign out", signout_path %></h5>
    <% else %>
      <h5 class='signin'><%= link_to "Sign in with Twitter", "/auth/twitter" %></h5>
    <% end %>
  </nav>

  <%= yield %>

</body>
</html>
